@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", serif;
}
* {
  max-width: 1920px;
  margin: auto;
}
.about {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
}

.img1 {
  height: 290px;
  width: 290px;
}

.info {
  margin-top: 43px;
  width: 800px;
}

.aboutus {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 20px;
}

.abt {
  width: 30%; /* Each box takes up 23% of the container width */
  height: 200px; /* Set a fixed height */
  border-radius: 8px; /* Optional: rounded corners */
  font-size: 15px;
  display: flex;
  text-align: center;
}

.abt span {
  justify-content: center;
}
.processimg {
  text-align: center;
  margin-top: 40px;
}

.processimg img {
  width: 700px;
}

.talentbox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  row-gap: 30px;
  margin-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.tbox:hover {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
}
.tbox {
  padding: 0px;
  margin: auto;
  border-radius: 1px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 290px;
  height: 370px;
  border-radius: 6px;
  text-align: center;
}

.img {
  width: 290px;
  height: 290px;
  border-radius: 6px 6px 0px 0px;
}

.tap {
  text-align: center;
}
.tap button {
  height: 40px;
  width: fit-content;
  color: white;
  background-color: #308e05;
  border-radius: 6px;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
}

.tap button:hover {
  background-color: white;
  color: #308e05;
  transition: 0.4s;
}

.started {
  height: 150px;
}

.text1 p {
  width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  /* animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-start infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
