@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", serif;
  text-decoration: none;
  overflow-x: hidden;
  max-width: 1920px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding-top: 0px;
  padding-right: 90px;
  padding-left: 70px;
  background-color: white;
  font-family: "Poppins", serif;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 60px;
  display: block;
  padding: 10px;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

li a {
  color: black;
  margin-right: 100px;
  font-weight: 400;
  text-decoration: none;
}

li a:hover {
  color: #66c231;
}

.btn1 {
  height: 40px;
  width: fit-content;
  background-color: #308e05;
  border: 1px solid #308e05;
  border-radius: 6px;
  color: white;
  font-weight: 400;
  padding: 8px 12px 8px 12px;
  display: flex;
  align-items: center;
}

.btn1:hover {
  background-color: white;
  color: #308e05;
  transition: 0.3s;
}

.navul {
  display: flex;
}
