.serviceboxmain {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.boxmain {
  background-color: white;
  width: 300px; /* Each box takes up 23% of the container width */
  height: 300px; /* Set a fixed height */
  color: #66c231;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px; /* Optional: rounded corners */
  font-size: 18px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.boxmainns {
  background-color: white;
  width: 300px; /* Each box takes up 23% of the container width */
  height: 300px;
  height: fit-content;
  color: #66c231;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px; /* Optional: rounded corners */
  font-size: 18px;
  cursor: pointer;
}

.boxmainns:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}

.readbtn {
  outline: none;
  border: none;
  background: none;
}

.readbtn::after {
  position: absolute;
  content: "";
  background-color: #66c231;
  height: 2px;
  width: 0px;
  margin-left: -100px;
  margin-top: 20px;
  transition: 0.3s;
}

.readbtn:hover:after {
  width: 100px;
}
.readbtn:hover {
  color: #66c231;
}

.textservice {
  flex: 2;
  text-align: center;
  margin-top: 50px;
}

.textservice .p2 {
  font-size: 15px;
  font-weight: 600;
}

.text1 p {
  width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  /* animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-start infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
